@font-face {
    font-family: "Ubuntu";
    src: url("~@/UI/assets/scss/fonts/Ubuntu/3976.eot"); 
    src: url("~@/UI/assets/scss/fonts/Ubuntu/3976.eot?#iefix") format("embedded-opentype"), 
      url("~@/UI/assets/scss/fonts/Ubuntu/3976.otf") format("opentype"),
      url("~@/UI/assets/scss/fonts/Ubuntu/3976.svg") format("svg"), 
      url("~@/UI/assets/scss/fonts/Ubuntu/3976.ttf") format("truetype"), 
      url("~@/UI/assets/scss/fonts/Ubuntu/3976.woff") format("woff"), 
      url("~@/UI/assets/scss/fonts/Ubuntu/3976.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
