@import './const/const.scss';
@import './fonts/Manrope/manrope.scss';
@import './fonts/Ubuntu/ubuntu.scss';
@import './common/button.scss';
@import './common/link.scss';
@import './common/search.scss';
@import './common/user.scss';
@import './common/form/form.scss';
@import './common/form/input.scss';
@import './common/menu/main.scss';

//Components
@import "components/init";

html,
body {
    color: $black;
    font-family: 'Ubuntu' !important;
    background-color: $background;
    padding: 0;
    margin: 0;
    line-height: 160%;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
#app {
    height: 100%;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    .header-main {
        width: 100%;
        padding: 24px;
        background: $white;
        border: 1px solid $grey;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
    }
}
a {
    text-decoration: none;
    font-size: 12px;
}
.box-container {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}
.box-padding {
    padding: 24px;
}
.container {
    padding: 0 !important;
}
.container_main {
    box-sizing: border-box;
    margin: 0 !important;
}
h5 {
    margin-top: 0;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 1px;
  }
.container_a{
    margin-top: -4px !important;
}
// вот это я вообще не понял, зачем отдельные элементы сразу кастомить?
// h1,
// h2,
// h3,
// h4 {
//     margin: 0;
// }
// h1,
// h2 {
//     font-size: 24px;
// }
// h1 {
//     text-align: center;
//     text-transform: uppercase;
// }
// h3 {
//     font-size: 18px;
// }
// span {
//     text-align: center;
//     //   color: $link;
//     width: 60%;
//     margin-top: 20px;
//     margin-bottom: 12px;
// }
// ul {
//     width: 100%;
//     padding: 0;
//     list-style: none;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     color: $link;
// }
.mr-10 {
    margin-right: 10px;
}
.ml-mr-3 {
    margin: 0 3px 0 3px;
}
.ml-8 {
    margin-left: 8px;
}
.ml-12 {
    margin-left: 12px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-30 {
    margin-top: 32px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mr-14 {
    margin-right: 14px;
}
.ml-36 {
    margin-left: 36px;
}
.mb-8 {
    margin-bottom: 8px;
}

.container-root {
    padding: 21px 22px 21px 36px !important;
}
.center {
    align-items: center;
    justify-content: center;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container, body, .mainLayout {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainLayout {
    max-width: 1440px;
}

/* recommended css code for vue-svgicon */
.svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}
.svg-fill-none {
    fill: none !important;
}

.svg-up {
    /* default */
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}
/* recommended css code for vue-svgicon */
.banner {
    min-height: 200px;
    max-width: 330px;
    display: flex;
    align-items: center;
    background-color: $white;
    justify-content: center;
    padding: 16px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: $main_border_radius;
    &__title {
        font-size: 18px;
        text-align: center;
    }
    &__descripton {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        color: $secondary_text;
        font-size: $main_font_size;
        text-align: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__button {
        font-family: $font-family-base;
        height: 50px;
        border-radius: $main_border_radius;
        padding: 16px 24px;
    }
}

.course-block {
    width: calc((100% / 3) - 17px);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.08));
    margin-right: 24px;
    margin-bottom: 28px;
    cursor: pointer;
    &.course-block-s {
        width: calc((100% / 4) - 16px);
        margin-right: 16px !important;
        &:nth-child(4n + 4) {
            margin-right: 0;
        }
        &:nth-child(3n + 3) {
            margin-right: 16px;
        }
        .course-video-block {
            height: 135px;
        }
    }
    &.course-mobile {
        width: 100%;
        margin-right: 0 !important;
        .course-video-block {
            height: 197px;
        }
    }
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    .course-video-block {
        font-size: 12px;
        position: relative;
        height: 190px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        background-blend-mode: multiply;
        background-color: #C4C4C4;
        .course-info {
            position: absolute;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 0 4px 0 4px;
            background: rgba(6, 5, 22, 0.6);
            backdrop-filter: blur(4px);
            border-radius: 3px;
            color: #ffffff;
            &.progress {
                top: 12px;
                left: 12px;
            }
            &.duration {
                bottom: 8px;
                right: 8px;
            }
            .text {
                margin-left: 4px;
                text-transform: none;
            }

        }
        .share {
            position: absolute;
            display: flex;
            align-items: center;
            flex-direction: row;
            color: #ffffff;
            top: 12px;
            right: 12px;
            .svg-icon {
                width: 20px !important;
                height: 20px !important;
            }
         }
    }
    .course-title{
        margin-top: 4px;
        font-weight: 600;
        color: #000000;
    }
    .course-description {
        height: 54px;
        max-width: 330px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 8px;
        color: #5F739C;
        font-size: 12px;
    }
    .course-download {
        color: #426DF6;
        font-size: 14px;
    }
}
.svg-wh {
    width: 36px !important;
    height: 36px !important;
    margin-right: 8px;
}
.top_bar_p_0 {
    padding-left: 0;
    padding-right: 0;
}
.table {
    width: 100%;
    display: grid;
    grid-row-gap: 8px;
    box-sizing: border-box;
    color: #060516;
    &.mobile {
        display: block;
        .tr {
            display: block;
            &:nth-child(1) {
                color: #060516;
                padding-bottom: 16px;
            }
        }
    }
    .tr {
        display: grid;
        grid-template-columns: 5% 20% 15% 20% 17% 10% 13%;
        padding: 16px;
        text-align: left;
        align-items: center;
        box-sizing: border-box;

        &:nth-child(1) {
            color: #5F739C;
            padding-bottom: 0;
        }

        &.tbody {
            background: #FFFFFF;
            border: 1px solid #F2F2F2;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
            border-radius: 12px;
            .v-col:nth-child(2), .v-col:nth-child(3) {
                color: #426DF6;
            }
            .name {
                font-size: 16px;
            }
            .label {
                font-size: 12px;
                color: #5F739C;
            }
        }

        .v-col:nth-last-child(1) {
            text-align: right;
        }
    }

    button {
        font-size: 12px;
        padding: 10px 16px;
        margin: 0;
        line-height: 150%;
    }

    svg {
        width: 24px !important;
        height: 24px !important;
        cursor: pointer;
    }
}
iframe {
    font-size: 16px !important;
    border-radius: 12px;
    &.shadow {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.v-tabs-items {
    background-color: transparent !important;
}
.top_bar_small {
    h1 {
        font-size: 18px !important;
    }
    a {
        color: #426DF6;
        font-size: 14px;
    }
    .top_bar_right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .desc {
        margin-top: 10px;
        font-size: 12px;
    }
}
.flag-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    width: 12%;
    background-color: #ecebeb;
    border-radius: 0 5px 5px 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}
.messages {
    width: calc(100% - 327px);
    font-size: 14px;
    background: transparent;

    .message-container {
        padding: 60px 11px 16px 11px;
        height: 100%;
        overflow: scroll;
    }
}
.v-menu__content {
    min-width: 190px !important;
}