@import "./const/const.scss";
@import "./fonts/Manrope/manrope.scss";
@import "./fonts/Ubuntu/ubuntu.scss";
@import "./common/button.scss";
@import "./common/link.scss";
@import "./common/search.scss";
@import "./common/user.scss";
@import "./common/form/form-button.scss";
@import "./common/form/form.scss";
@import "./common/form/input.scss";

html, 
body {
    width: 100%;
    height: 100%;
    color: $black;
    background-color: $background;
    font-family: 'Ubuntu';
    padding: 0;
    margin: 0;
    line-height: 160%;
    font-size: 14px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    .header-main {
        width: 100%;
        padding: 24px;
        background: $white;
        border: 1px solid $grey;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
    }
}
h1, h2, h3, h4 {
    margin: 0;
}
h1, h2 {
    font-size: 24px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-size: 18px;
}
span {
    text-align: center;
    color: $link;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 12px;
}
ul {
    width: 100%;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $link;
}
.mr-10 {
    margin-right: 10px;
}
.ml-mr-3 {
    margin: 0 3px 0 3px;
}
.ml-8 {
    margin-left: 8px;
}
.ml-12 {
    margin-left: 12px;
}
.mt-45 {
    margin-top: 45px;
} 
.mt-12 {
    margin-top: 12px;
}
.mt-30 {
    margin-top: 32px;
}
.mb-36 {
    margin-bottom: 36px;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container,
#app {
    width: 100%;
    height: 100%;
}