$background: #e5e5e5;
$black: #000000;
$dark: #060516;
$white: #ffffff;
$blue: #426df6;
$label: #818c99;
$secondary_text: #4f4f4f;
$input_border: rgba(87, 81, 183, 0.12);
$light_blue: rgba(66, 109, 246, 0.12);
$blue_gradient: linear-gradient(180deg, #4f79ff 0%, #2150e7 100%);
$link: #5f739c;
$green: #27ae60;
$light: rgba(87, 81, 183, 0.12);
$super_light_green: linear-gradient(
        0deg,
        rgba(39, 174, 96, 0.08),
        rgba(39, 174, 96, 0.08)
    ),
    #ffffff;
$light_green: rgba(39, 174, 96, 0.12);
$grey: #f2f2f2;
$orange_gradient: linear-gradient(180deg, #f2cd4a 0%, #ff6d1b 100%);
$main_font_size: 14px;
$second_font_size: 12px;
$main_border_radius: 12px;

$font-family-base: 'Ubuntu';
$font-family-head: 'Manrope';

$DEV_MODE: $NODE_ENV == development;
$MAX_INT32: 2147483647;
