
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu';
    color: #000000;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 160%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}
.header-main{
    width: 100%;
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}
a{
    text-decoration: none;
    color: inherit;
    width: 100%;
}
h1{
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    text-transform: uppercase;
}
h2{
    margin: 0;
    font-size: 24px;

}
h3{
    font-size: 18px;
}
h4{
    margin: 0;
    font-size: 14px;
}
label{
    text-align: left;
    width: 95%;
    font-size: 14px;
    color: #818C99;
}
input{
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    color: #060516;
    font-size: 14px;
    width: 95%;
    height: 46px;
    padding-left: 16px;
}
input[type="search"]{
    padding-left: 40px;
    border: 1px solid rgba(87, 81, 183, 0.12);
    border-radius: 8px;
}
input[type="search"]::placeholder{
    font-size: 14px;
    color: #818C99;
}
.search{
    width: 30%;
    position: relative;
}
.search svg{
    position: absolute;
    left: 4.85%;
    right: 90.3%;
    top: 31.82%;
}
button{
    font-size: 14px;
    background: #426DF6;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 24px;
    border: 1px solid #426DF6;
    margin-top: 16px;
}
button:disabled {
    text-align: center;
    background-color: #888181;
    border-color: #888181;
}
span{
    text-align: center;
    font-size: 14px;
    color: #5F739C;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 12px;

}
ul{
    width: 100%;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5F739C;
}
.mr-10{
    margin-right: 10px;
}
.ml-mr-3{
    margin: 0 3px 0 3px;
}
.ml-8{
    margin-left: 8px;
}
.ml-12{
    margin-left: 12px;
}
.mt-45{
    margin-top: 45px;
}
.mt-12{
    margin-top: 12px;
}
.mt-30{
    margin-top: 32px;
}
#app,.author,.container,.mainLayout, .loginStepTwo{
    width: 100%;
    height: 100%;
}
.mainLayout{
    height: auto;
}
.trainingPage,.mainPage{
    padding: 9px 21px 21px 36px;
    width: calc(100% - 290px);
}
.main-container{
    
    padding: 15px;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.form{
    padding: 24px;
    min-width: 436px;
    background-color: #ffffff;
    border: 1px solid rgba(66, 109, 246, 0.12);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-button{
    width: 100%;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 12px;
    padding: 10px 16px;
}
.error-label{
    color: rgba(255, 0, 0, 0.63);
    font-size: 14px;
    margin-top: 5px;
}
.user{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
}
.user-photo{
    position: relative;
    width: 48px;
    height: 48px;
    background: url('./img/user3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    margin: 12px 0 12px 12px;
}
.star{
    position: absolute;
    right: -12%;
    bottom: -12%;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 20px;
}
.star svg{
    position: absolute;
    top: 20%;
    left: 20%;
}
.id{
    font-family: 'Manrope';
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 150%;
    color: #426DF6;
    background: rgba(66, 109, 246, 0.12);
    border-radius: 6px;
    padding: 4px 8px 4px 8px;
}
.copy{
    cursor: pointer;
}
.down{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.main-menu{
    width: 100%;
}
li{
    width: 100%;
    display: flex;
}

.menu-item{
    display: flex;
    flex-direction: row;
    margin: 16px;
}
.menu-item svg{
    margin-right: 12px;
}

.active{
    background: rgba(66, 109, 246, 0.12);
    border-radius: 12px;
    color: #426DF6;
}
.active svg path{
    fill: #426DF6;
}
.subs{
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(180deg, #4F79FF 0%, #2150E7 100%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 12px;
}
.invite{
    background: rgba(66, 109, 246, 0.12);
border: 1px solid rgba(66, 109, 246, 0.12);
box-sizing: border-box;
border-radius: 12px;
width: 100%;
padding: 0 34px 16px 34px;
}
.plain{
    position: absolute;
    top: -20px;
}
.desc{
    font-size: 12px;
    text-align: center;
    color: #4F4F4F;
    line-height: 14px;
}
.top{
    align-items: center;
    justify-content: space-between;
}

.item{
    width: 150px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 12px;
    margin: 8px 0px;
    align-items: center;
    justify-content: center;
}
.lider-photo{
    width: 72px;
    height: 72px;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 50%;
}
.rate{
    position: absolute;
    align-items: center;
    width: 38px;
    height: 18px;
    left: calc(50% - 38px/2 - 1px);
    bottom: -7px;
    background: linear-gradient(180deg, #F2CD4A 0%, #FF6D1B 100%);
    backdrop-filter: blur(4px);
    border-radius: 3px;
    font-size: 12px;
    color: #ffffff;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('./fonts/3976.ttf');
}

@font-face{
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Regular.ttf');
}