.main-menu {
    margin-top: 24px;
    width: 100%;
    padding: 0 !important;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
    .v-list-item {
        padding: 0 16px !important;
    }
    .v-list-group {
        & > .v-list-group__header.v-list-item {
            padding: 0 0 0 16px !important;
            margin-bottom: 0px !important;
            & > .v-list-item {
                margin-bottom: 0 !important;
                padding: 0 !important;
            }
        }
        & > .v-list-group__items {
            & > .v-list-item {
                padding-left: 52px !important;
            }
            margin-bottom: 0px !important;
        }
    }

    .v-list-item__icon {
        margin-right: 12px !important;
        width: 24px;
        height: 24px;
        svg {
            max-width: 19px;
            max-height: 20px;
        }
    }

    .theme--light {
        &.v-list-item {
            &:not(.v-list-item--active):not(.v-list-item--disabled) {
                color: $link !important;
            }
            color: $blue !important;
        }
    }

    &.v-list--rounded {
        .v-list-item {
            &:before,
            &:after,
            & > .v-ripple__container {
                border-radius: $main_border_radius !important;
            }

            border-radius: $main_border_radius !important;
        }

        .v-list-group {
            &--active {
                background: $menuActiveBg;
                border-radius: $main_border_radius !important;
            }
        }
    }
    &.v-list--rounded{
        .v-list-item {
            &:not(:last-child):not(:only-child) {
                margin-bottom: 0 !important;
            }
        }

    }
    .sub {
        font-size: 14px !important;
    }
}
.intercom-launcher {
    bottom: 70px !important;
}
