@import "/src/UI/assets/scss/const/const.scss";
.form-button{
    width: 100%;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 12px;
    padding: 10px 16px;
    border: 1px solid $blue;
    background: $blue;
}