@import "/src/UI/assets/scss/const/const.scss";
input{
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 5px;
    color: $dark;
    font-size: 14px;
    width: 95%;
    height: 46px;
    padding-left: 16px;
    &::placeholder{
        color: $dark;
    }
}
label{
    text-align: left;
    width: 95%;
    font-size: 14px;
    color: $label;
}