@import "/src/UI/assets/scss/const/const.scss";

button {
  font-size: 14px;
  color: #ffffff !important;
  cursor: pointer;
  padding: 16px 24px;
  border: 1px solid #426DF6;
  border-radius: 8px;
  margin-top: 16px;
  font-weight: 500 !important;
  outline: none;
  white-space: nowrap;
  transition: 0.4s all;

  &:disabled {
    background: #f2f2f2;
    border-color: rgba(87, 81, 183, 0.12);
    color: #5F739C !important;
  }

  &:enabled {
    background: #426DF6;
  }

  &:hover {
    background: #7092FF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  }

  &:focus {
    background: #426DF6;
  }

  &:disabled:hover {
    background: #f2f2f2;
    cursor: not-allowed;
  }

  &.with_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 170%;
  }

  &.secondary_white {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    color: #426DF6 !important;

    .svg-icon {
      path {
        fill: #426DF6 !important;
      }
    }
  }

  &.white_button {
    background: #FFFFFF;
    border-radius: 8px;
    color: #000000 !important;
    font-size: 16px;
  }

  &.secondary_blue {
    background: rgba(66, 109, 246, 0.12);
    border: none;
    color: #426DF6 !important;

    &:hover {
      background: rgba(66, 109, 246, 0.24);
    }

    &:focus {
      background: rgba(66, 109, 246, 0.24);
    }

    &:disabled:hover {
      background: #f2f2f2;
      cursor: not-allowed;
    }
  }

  &.small {
    border-radius: 8px;
    font-size: 12px;
    padding: 10px 16px;
    font-weight: 500;
  }
}
