@import "/src/UI/assets/scss/const/const.scss";
input[type="search"]{
    width: 50%;
    padding: 11px 0;
    text-indent: 50px;
    background: #FFFFFF;
    &::placeholder{
        font-size: 14px;
        color: #5A606F;
    }
}
.search{
    position: relative;
    display: flex;
    background-color: #F0F2F6;
    border-radius: 6px;
    border: 1px solid #F2F2F2;
    justify-content: flex-end;
    input {
        border: none !important;
        padding: 7px 0;
        text-indent: 50px;
        &::placeholder{
            font-size: 14px;
            color: #5A606F;
        }
    }
    & svg{
    position: absolute;
    right: 42.3%;
    top: 31.82%;
    }
}
