@import "/src/UI/assets/scss/const/const.scss";
input[type="search"]{
    border: 1px solid $input_border;
    border-radius: 8px;
    &::placeholder{
        font-size: 14px;
        color: $label;
    }
}
.search{
    position: relative;
    & svg{
    position: absolute;
    left: 4.85%;
    right: 90.3%;
    top: 31.82%;
    }
}
